/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: 'Fontello';
  src: url('../public/fonts/fontello.woff2') format('woff2'),
    url('../public/fonts/fontello.woff') format('woff');
  font-display: swap;
}
/*
@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/subset-Roboto-Italic.woff2') format('woff2'),
    url('../public/fonts/subset-Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/subset-Roboto-Regular.woff2') format('woff2'),
    url('../public/fonts/subset-Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/subset-Roboto-Bold.woff2') format('woff2'),
    url('../public/fonts/subset-Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}*/

@font-face {
  font-family: 'LibreFranklin';
  src: url('../public/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../public/fonts/Libre_Franklin/LibreFranklin-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-style: italic;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: LibreFranklin, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-2);
}

button,
input,
textarea {
  outline: none;
}

button {
  font-family: inherit;
  box-shadow: none;
  border: none;
}

:root {
  --rhythm-half: 4px;
  --rhythm-1: 16px;
  --rhythm-2: 32px;
  --rhythm-3: 48px;
  --rhythm-4: 64px;
  --rhythm-5: 80px;
  --rhythm-6: 96px;
  --rhythm-7: 112px;

  --negate-rhythm-half: -4px;

  --medium: 24px;
  --small: 21px;
  --large: 30px;
  --filler-size: 36px;
  --profile-image-width: 60px;
}

.mode {
  background-color: var(--bg-1);
  color: var(--copy);
  min-height: 100vh;
}

.mode--light {
  --copy: #211;
  --utility: #444;
  --filler: #777;
  --bg-1: rgb(234, 216, 236);
  --bg-2: rgb(242, 233, 243);
  --bg-3: rgb(250, 246, 250);
  --nav-bg: #fff;
  --white: #fff;
  --black: #000;

  --highlight-comment: #ffc;

  --dot-colour: #e6871a;
  --line-colour: #da5385;

  --close-line-colour: #bbb;
  --drag-box-colour: #ddd;
  --scroll-inner: #ccc;
  --outline-button: rgba(255, 255, 255, 0.5);
  --like-fill: rgb(142, 255, 138);

  --light-border: rgba(0, 0, 0, 0.3);
  --modal-bg: rgba(170, 170, 170, 0.6);

  --nav-text: rgb(119, 32, 97);
}

.mode--dark {
  --copy: #dee;
  --white: #000;
  --black: #fff;
  --bg-1: rgb(61, 45, 53);
  --bg-2: rgb(43, 37, 40);
  --bg-3: rgb(24, 22, 23);
  --nav-bg: #000;

  --utility: #bbb;
  --filler: #888;

  --highlight-comment: #003;

  --active-bg: #ddd;
  --active-shade: #aaa;
  --active-highlight: #bbb;

  --close-line-colour: #444;
  --drag-box-colour: #222;
  --scroll-inner: #222;
  --outline-button: rgba(0, 0, 0, 0.5);
  --like-fill: rgb(142, 255, 138);

  --light-border: rgba(255, 255, 255, 0.3);
  --modal-bg: rgba(70, 70, 70, 0.85);

  --nav-text: rgb(252, 225, 245);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* SHINE HOVER EFFECT */

.shine {
  font-size: var(--large);
  position: relative;
  text-decoration: none;
  font-weight: 600;
  overflow: hidden;
}

@keyframes shine {
  from {
    transform: skew(-15deg) translateX(-70%);
  }
  to {
    transform: skew(-15deg) translateX(70%);
  }
}

a:hover .shine::after {
  transform: skew(-15deg) translateX(70%);
  transition: transform 0.6s;
  animation: shine;
  animation-iteration-count: 10;
  animation-delay: 1.2s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.shine::after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  pointer-events: none;
  transform: skew(-15deg) translateX(-70%);
  mix-blend-mode: overlay;
  background: linear-gradient(
    to left,
    transparent 40%,
    white 40%,
    white 45%,
    transparent 45%,
    transparent 50%,
    white 50%,
    white 60%,
    transparent 60%
  );
}

.mode--light .shine::after {
  mix-blend-mode: lighten;
  background: linear-gradient(
    to left,
    transparent 40%,
    rgb(190, 192, 160) 40%,
    rgb(255, 255, 255) 45%,
    rgb(189, 190, 157) 45%,
    transparent 45%,
    transparent 50%,
    rgb(189, 190, 157) 50%,
    rgb(255, 255, 255) 45%,
    rgb(204, 206, 171) 60%,
    transparent 60%
  );
}

/*button*/

.emboss {
  background: var(--bg-2);
  border-radius: var(--rhythm-1);
}

.engrave {
  background: var(--bg-3);
  border-radius: var(--rhythm-1);
}

.action-button__grid {
  margin: var(--negate-rhythm-half);
}

.action-button__grid > .action-button {
  margin: var(--rhythm-half);
}

.action-button {
  background: none;
  padding: var(--rhythm-half) var(--rhythm-1);
  text-align: left;
  cursor: pointer;
  color: var(--copy);
  font-size: inherit;
  border-radius: var(--rhythm-half);
}

html {
  font-size: var(--medium);
}

.comment-body p {
  white-space: pre-wrap;
}

a,
button {
  cursor: pointer;
}

/* screen sizes */

.screen--lte-mobile {
  display: none;
}

/* mobile */
@media only screen and (max-width: 800px) {
  .screen--gt-mobile {
    display: none;
  }

  .screen--lte-mobile {
    display: initial;
  }
  :root {
    --rhythm-half: 4px;
    --rhythm-1: 16px;
    --rhythm-2: 32px;
    --rhythm-3: 48px;
    --rhythm-4: 64px;
    --rhythm-5: 80px;
    --rhythm-6: 96px;
    --rhythm-7: 112px;

    --negate-rhythm-half: -4px;

    --small: 18px;
    --medium: 21px;
    --large: 24px;
    --filler-size: 30px;
    --profile-image-width: 36px;
  }
}

/* nav */

nav {
  background-color: var(--nav-bg);
  color: var(--nav-text);
}

nav a,
.nav-button {
  margin: var(--rhythm-1) 0;
}

nav .main-column {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-gap: 0.5em;
  grid-auto-flow: column;
}

nav .nav--column {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-gap: 2.5em;
  grid-auto-flow: column;
}

/* mobile */
@media only screen and (max-width: 1024px) {
  nav .nav--column {
    grid-gap: 1em;
  }
}

.nav-toggle {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: 3em;
}

.nav-svg {
  overflow: visible;
  width: 35px;
  stroke-width: 0.4px;
  fill: none;
  stroke: var(--nav-text);
  stroke-linejoin: round;
  transform-origin: 50% 50%;
  transition: 0.3s;
}

.nav-svg:hover {
  transform: scale(1.1);
}

.nav-svg circle {
  fill: var(--white);
}

.burger {
  overflow: visible;
}

.burger rect {
  fill: var(--nav-text);
  transition: transform 0.3s;
}

.nav-toggle:hover .burger__1 {
  transform: translateX(14%);
}

.nav-toggle:hover .burger__2 {
  transform: translateX(-7%);
}

.nav-toggle:hover .burger__3 {
  transform: translateX(7%);
}

.notify {
  width: 1.3em;
  height: 1.3em;
  transform: scale(1);
  transition: transform 0.4s;
  color: white;
}
a:hover .notify {
  transform: scale(1.2);
}

.notify div {
  background-color: coral;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  font-weight: 600;
}

.nav-button-flex {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: var(--rhythm-1);
}

.profile-link img {
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
  width: var(--profile-image-width);
  height: var(--profile-image-width);
  transition: transform 0.4s;
  transform: scale(1);
}

.profile-link:hover img {
  transform: scale(1.1);
}

.notifications-list {
  opacity: 0.7;
}

.notifications-list a {
  font-weight: 600;
}

.unread {
  opacity: 1;
  font-weight: 500;
}
.unread a {
  font-weight: 700;
}

.icon {
  font-family: Fontello;
}

/* Main layout */

.main-column,
main {
  margin: auto;
  width: 90%;
  max-width: 2500px;
}

main {
  padding-bottom: 20px;
}

/* Post */

.post {
  margin-top: var(--rhythm-2);
  padding: 1px 0;
}

.post > * {
  margin: var(--rhythm-1);
}

img {
  display: block;
  max-width: clamp(20vmin, 50vmax, 80vmin);
  max-height: clamp(20vmin, 50vmax, 80vmin);
  border-radius: var(--rhythm-half);
}

/* detail elements */

.detail {
  font-size: var(--small);
  color: var(--utility);
}

.detail button {
  font-size: inherit;
}

.detail button,
button.detail {
  padding: 0;
  border: 0;
  margin: 0;
  color: var(--utility);
  background-color: unset;
}

/* Comment */

.comment > * {
  margin: var(--rhythm-1);
}

.comment > p {
  margin-bottom: var(--rhythm-2);
}

.comment {
  padding: 1px 0;
}

.comment:target,
.comment.target {
  background-color: var(--highlight-comment);
}

.comment-list {
  margin-left: 10px;
}

/* User link */

.user-link {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-gap: var(--rhythm-1);
  grid-auto-flow: column;
  margin: var(--rhythm-half);
  padding: var(--rhythm-half);
  grid-template-columns: 1fr auto;
  border-radius: var(--rhythm-1);
}

.user-link:hover {
  background-color: var(--bg-2);
}

.user-link img {
  transform-origin: 50% 50%;
  transition: transform 0.2s;
}

.user-link:hover img {
  transform: scale(1.1);
}

.user-link img {
  border-radius: 50%;
  width: var(--profile-image-width);
  height: var(--profile-image-width);
  object-fit: cover;
  margin-right: var(--rhythm-1);
}

.user-link a {
  display: flex;
  align-items: center;
}

.modal .user-link {
  cursor: pointer;
}

/* follow toggle */

.follow {
  display: flex;
}

.follow-toggle span {
  text-align: center;
  flex-grow: 2;
}

.follow {
  display: none;
}

.unfollow {
  display: initial;
}

.follow-toggle--notfollowing > .unfollow {
  display: none;
}

.follow-toggle--notfollowing > .follow {
  display: initial;
}

.follow-toggle {
  background: none;
  cursor: pointer;
  color: var(--copy);
  font-size: inherit;
}

.follow-toggle svg {
  width: var(--rhythm-2);
}

.follow-toggle--notfollowing {
  transition: transform 0.2s;
}

.follow-toggle--notfollowing:hover {
  transform: scale(1.1);
}

/* close */

.action-button--close-button {
  position: absolute;
  top: var(--rhythm-1);
  right: var(--rhythm-1);
  height: var(--rhythm-4);
  width: var(--rhythm-4);
  margin: 0;
  overflow: hidden;
  border: unset;
  background-color: unset;
  border-radius: 50%;
}

.action-button--close-button::after {
  content: '';
  width: 80%;
  position: absolute;
  left: 10%;
  top: 47%;
  height: 6%;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  background: var(--close-line-colour);
}

.action-button--close-button::before {
  content: '';
  width: 80%;
  position: absolute;
  left: 10%;
  top: 47%;
  height: 6%;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  background: var(--close-line-colour);
}

.action-button--close-button:hover {
  background-color: unset;
  border: unset;
}

/* Input */

.input-textarea {
  font-family: LibreFranklin;
  display: block;
  margin-bottom: var(--rhythm-1);
  padding: var(--rhythm-1);
  font-size: var(--medium);
  width: 100%;
  border: none;
  max-width: 100%;
  min-height: 3em;
  border-radius: var(--rhythm-1);
  color: var(--copy);
  background-color: var(--white);
}

.input-textarea::placeholder {
  color: var(--copy);
  opacity: 1;
}

.emboss.input-textarea,
.engrave.input-textarea {
  background-color: var(--white);
}

.inputted-text {
  white-space: pre-line;
}

/* add image */

.add-image {
  background-color: var(--white);
  border: 8px dashed var(--drag-box-colour);
  text-align: center;
  border-radius: var(--rhythm-1);
}

.add-image > button,
.add-image > p {
  margin: var(--rhythm-2) auto;
  display: block;
}

.hidden-file-input,
.add-image img {
  line-height: 0;
  margin: auto;
}

.hidden-file-input {
  width: 0px;
  opacity: 0;
  height: 0px;
  display: none;
}

.no-posts {
  font-size: var(--filler-size);
  color: var(--filler);
  padding: var(--rhythm-3);
}

/* profile */

.profile > * {
  margin-top: var(--rhythm-1);
  margin-bottom: var(--rhythm-1);
}

.profile__top-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.profile h1 {
  font-size: var(--large);
}

/* edit post */

.edit-post > * {
  margin-top: var(--rhythm-2);
  margin-bottom: var(--rhythm-1);
}

/* modal */

@keyframes modal-bg-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-bg-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal__outer {
  background: var(--modal-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: modal-bg-in;
  animation-duration: 0.2s;
}

.modal__outer.modal__outer--closing {
  opacity: 0;
  transition: opacity 0.2s;
}

.modal__container {
  position: relative;
  margin: var(--rhythm-2);
}

.modal {
  background-color: var(--white);
  border-radius: var(--rhythm-1);
  margin: var(--rhythm-2);
  padding: var(--rhythm-2);
  max-height: 80vh;
  max-width: 80vw;
  position: relative;
  overflow: hidden;
  animation: modal-in;
  animation-duration: 0.2s;
}

.modal--has-close {
  padding-right: var(--rhythm-7);
}

.modal__container .modal {
  margin: 0;
}

.modal--scrollable {
  margin: 0;
  padding: var(--rhythm-1);
}

.modal--scrollable > p {
  margin: var(--rhythm-2);
}

.modal__question {
  margin-bottom: var(--rhythm-2);
}

.modal__options {
  text-align: center;
}

.notifications-list {
  padding: var(--rhythm-2);

  user-select: none;
}

.notifications-list > * {
  margin-bottom: var(--rhythm-1);
}

/* SCROLL */

.scroll-outer {
  position: relative;
}

.scroll-content {
  overflow-y: scroll;
  max-height: 200px;
  margin-right: -50px;
  padding-right: 100px;
}

.scroll-fade--top {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, var(--white), transparent);
  height: var(--rhythm-1);
}

.scroll-fade--bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, var(--white), transparent);
  height: var(--rhythm-1);
}

.scroll-bar {
  position: absolute;
  right: 0;
  top: 0;
  width: var(--rhythm-2);
  bottom: 0px;
  overflow: hidden;
  border-radius: var(--rhythm-1);
  margin-right: var(--rhythm-1);
  background-color: var(--bg-2);
}

.scroll-bar-none {
  display: none;
}

.scroll-inner {
  position: absolute;
  right: 0;
  background: var(--scroll-inner);
  border-radius: var(--rhythm-1);
  width: 100%;
  border: none;
}

.scroll-above {
  position: absolute;
  top: -300px;
  height: 300px;
  left: 0;
  right: 0;
}
.scroll-below {
  position: absolute;
  bottom: -300px;
  height: 300px;
  left: 0;
  right: 0;
}

/** new user **/

.new-user h1 {
  padding-top: var(--rhythm-2);
  font-size: var(--large);
}

.create-profile input {
  margin-bottom: var(--rhythm-2);
}

.create-profile .add-image {
  margin-bottom: var(--rhythm-2);
}

.create-profile label {
  display: block;
  margin-bottom: var(--rhythm-1);
}

.create-profile > button {
  margin-bottom: var(--rhythm-1);
}

.create-profile {
  padding-top: var(--rhythm-2);
  margin-bottom: var(--rhythm-1);
}

/* suggested */

.suggested {
  padding-top: var(--rhythm-2);
  text-align: center;
}

/* search */

.search > input {
  margin: var(--rhythm-2) 0;
  width: 100%;
}

/* splash */

.splash svg {
  width: 100%;
  height: 100%;
}

.splash circle {
  fill: var(--dot-colour);
}

.splash__bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: linear-gradient(
    180deg,
    rgba(8, 51, 98, 1) 0%,
    rgba(8, 99, 98, 1) 100%
  );
}

.splash__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--rhythm-3);
  flex-direction: column;
  color: #fff;
}

.splash__card {
  flex-direction: column;
  text-align: center;
}

.splash__card > div {
  text-align: center;
  margin: var(--rhythm-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash__card a {
  margin: 2vmin;
  font-size: clamp(20px, 3.5vmin, 3.5vmin);
  line-height: 1.5em;
  text-align: center;
  padding: 0.2em 0.6em;
  border-radius: 0.25em;
}

.splash__card a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.splash h1 {
  font-size: 19vmin;
  font-weight: 600;
  padding: var(--rhythm-1);
  mix-blend-mode: overlay;
  pointer-events: none;
}

/*  Likes */

.likes__bar {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-auto-flow: column;
}

.likes--list .user-link {
  margin: var(--rhythm-1) 0;
}

.like {
  display: inline-block;
}

/* like button */
.like-button {
  background: none;
  border: none;
  width: 60px;
  padding: 0;
  margin: 0;
  margin-right: var(--rhythm-half);
}

/*  hover */

.like-button__svg {
  transition: transform 0.2s;
}

.like-button:hover .like-button__svg {
  transform: scale3d(1.1, 1.1, 1.1);
}

.like-button,
.like-button svg {
  overflow: visible;
}

.like-button__top,
.like-button__bottom {
  transition: transform 0.2s;
  transform-origin: 50% 50%;
}

.like-button__bottom {
  fill: var(--black);
}

.like-button__top {
  stroke: var(--black);
  stroke-width: 5%;
  transform: scale3d(1, 1, 1) translate3d(0, 0px, 0);
}

.like-button__top__outer {
  fill: var(--bg-3);
}

.like-button__top__inner {
  fill: var(--like-fill);
  opacity: 0;
  transition: opacity 0.2s;
}

.like-button__bottom {
  opacity: 50%;
}

/* not liked */

@keyframes unlike-top {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 12%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.like-button--inactive .like-button__top path {
  animation: unlike-top;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

.like-button--inactive .like-button__bottom {
  transform: scale3d(1, 1, 1) translate3d(0, 0px, 0);
}

/* liked */

/* add like animation */

@keyframes like-top {
  0% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0%, 0);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(0, -32%, 0);
  }
  100% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(0, -16%, 0);
  }
}

@keyframes like-bottom {
  0% {
    transform: scale3d(0.95, 0.95, 0.95) translate3d(0, 0%, 0);
  }
  50% {
    transform: scale3d(0.95, 0.95, 0.95) translate3d(0, 32%, 0);
  }
  100% {
    transform: scale3d(0.95, 0.95, 0.95) translate3d(0, 16%, 0);
  }
}

.like-button--active .like-button__bottom {
  transform: scale3d(0.95, 0.95, 0.95) translate3d(0, 16%, 0);
  animation: like-bottom;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

.like-button--active .like-button__top {
  transform: scale3d(1.1, 1.1, 1.1) translate3d(0, -16%, 0);
  animation: like-top;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

/* inner bit */

.like-button--inactive .like-button__top__inner {
  opacity: 0;
}

.like-button--active .like-button__top__inner {
  opacity: 1;
}

/*expand*/
.expand {
  width: 0.75em;
  margin-left: 0.75em;
  transition: transform 0.2s;
}

.show-likes:hover .expand {
  transform: scale(1.5);
}

.expand__1,
.expand__2 {
  transform-origin: 50% 50%;
  transition: transform 0.2s;
  fill: var(--copy);
}

.expand--active .expand__1,
.expand--active .expand__2 {
  transform: rotate(0deg);
}

.expand__1 {
  transform: rotate(90deg);
}

.expand__2 {
  transform: rotate(180deg);
}

/* show likes */

.show-likes {
  background: none;
  display: flex;
  align-items: baseline;
}

/*ellipsis*/

.ellipsis circle {
  transition: transform 0.2s;
  transform: scale(1);
  transform-origin: 50% 50%;
  fill: var(--copy);
}

.follow-toggle:hover circle {
  transform: scale(1.2);
}

/* color, hover, active system */
/*bg*/
.action-button--bg-1 {
  background-color: var(--bg-1);
}

.action-button--bg-2 {
  background-color: var(--bg-2);
}

.action-button--bg-3 {
  background-color: var(--bg-3);
}

.action-button--bg-w {
  background-color: var(--white);
}
/*hover*/
.action-button--hover-1:hover {
  background-color: var(--bg-1);
}

.action-button--hover-2:hover {
  background-color: var(--bg-2);
}

.action-button--hover-3:hover {
  background-color: var(--bg-3);
}

.action-button--hover-w:hover {
  background-color: var(--white);
}

.action-button--active-1.action-button--active {
  background-color: var(--bg-1);
}

.action-button--active-2.action-button--active {
  background-color: var(--bg-2);
}

.action-button--active-3.action-button--active {
  background-color: var(--bg-3);
}

.action-button--active-w.action-button--active {
  background-color: var(--white);
}

/*accordion*/

.accordion {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s;
}

.accordion--active {
  grid-template-rows: 1fr;
}

.accordion > * {
  overflow: hidden;
}
